.u-section-1 {
  background-image: url("images/pexelsphoto3326103.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-group-1 {
  width: 411px;
  min-height: 59px;
  margin: 412px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 2.25rem;
}

.u-section-1 .u-group-2 {
  width: 302px;
  min-height: 59px;
  margin: 0 auto -49px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 27px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 344px;
}

.u-section-2 .u-shape-1 {
  height: 228px;
  margin: 0 auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 933px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1061px;
  margin: 0 30px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 60px 22px 30px;
}

.u-section-3 .u-group-1 {
  width: 390px;
  min-height: 120px;
  margin: -60px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0 21px;
}

.u-section-3 .u-group-2 {
  min-height: 421px;
  margin: 61px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 13px 71px 0 0;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  font-size: 1rem;
  margin: 25px 127px 0 39px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  background-image: none;
  margin: 15px auto 0 39px;
  padding: 25px 0 27px;
}

.u-section-3 .u-icon-1 {
  width: 30px;
  height: 41px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 723px;
}

.u-section-3 .u-container-layout-4 {
  padding: 15px 30px 15px 60px;
}

.u-section-3 .u-image-1 {
  height: 548px;
  object-position: 0% 65.31%;
  background-position: 0% 65.31%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-size: 2.25rem;
  background-image: none;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  margin: 21px 44px 60px auto;
  padding: 0 50px 0 49px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 799px;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 69px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 663px;
  }

  .u-section-3 .u-group-1 {
    width: 310px;
    margin-top: -99px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: -28px;
    margin-left: 11px;
  }

  .u-section-3 .u-group-2 {
    min-height: 437px;
    width: 309px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 71px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: -56px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 69px;
    margin-right: 31px;
    margin-left: 9px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: 81px;
    margin-left: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-3 .u-image-1 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 300px;
    margin-top: 277px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: -22px;
  }

  .u-section-3 .u-group-2 {
    min-height: 294px;
    margin-top: -162px;
    width: 300px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: 166px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 26px;
    margin-left: 35px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 35px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 0;
    padding-left: 40px;
  }

  .u-section-3 .u-image-1 {
    height: 401px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 485px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 66px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: -38px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -312px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 604px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 303px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 72px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -146px;
    margin-left: -23px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -167px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-3 .u-image-1 {
    height: 357px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 433px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 12px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 433px;
  background-image: url("images/a2fc4ef890f44fa0a9bb7787ce17008d.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 433px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 32px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1.875rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 25px 0 27px;
}

.u-section-4 .u-icon-1 {
  width: 30px;
  height: 41px;
}

.u-section-4 .u-image-2 {
  min-height: 433px;
  background-image: url("images/6243854162c536333ab218a58996077f.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 433px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 1.875rem;
  background-image: none;
  margin: 20px -1px 0;
  padding: 26px 0 27px;
}

.u-section-4 .u-icon-2 {
  width: 30px;
  height: 41px;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 2.25rem;
  background-image: none;
  box-shadow: 0 -2px 8px 0 rgba(128,128,128,1);
  margin: 30px 44px 60px auto;
  padding: 0 50px 0 49px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 357px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 357px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 357px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-4 .u-image-1 {
    min-height: 547px;
    order: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 1;
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 547px;
    order: 3;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 2;
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 821px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 821px;
    order: 2;
  }

  .u-section-4 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 517px;
  }

  .u-section-4 .u-image-2 {
    min-height: 517px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 436px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1151px;
  margin: 0 -11px 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 451px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 0 379px;
  padding: 40px 30px 42px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 91px auto 0 379px;
  padding: 41px 65px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 277px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 48px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 96px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 178px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 371px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 371px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1222px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 107px;
    margin-right: 170px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -35px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 724px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 171px;
  }
}